div(class="navbar--mobile__wrapper hidden", id="navbar-mobile-js")
    div(class="navbar--mobile__links hidden")
        a(href="#!", class="navbar__link navbar--mobile__link") Продукты
        a(href="#!", class="navbar__link navbar--mobile__link") Технологии
        a(href="#!", class="navbar__link navbar--mobile__link") Experience
    div(class="navbar--mobile__social") 
        a(href="#!") 
            //- img(src="./images/social/twitter-icon.svg", alt="twitter")
            include ./../elements/twitter.pug
        a(href="#!") 
            //- img(src="./images/social/instagram-icon.svg", alt="")
            include ./../elements/insta.pug
    

nav(class="nav")
    .container
        .nav__row 
            .nav__wrap 
                a(href="/")
                    .logo 
                        img(src="./images/logo/logo.svg", alt="Logo") 
                .navbar 
                    a(href="#!", class="navbar__link") Продукты
                    a(href="#!", class="navbar__link") Технологии
                    a(href="#!", class="navbar__link") Experience
            .nav__social
                a(href="#!") 
                    //- img(src="./images/social/twitter-icon.svg", alt="twitter")
                    include ./../elements/twitter.pug
                a(href="#!") 
                    //- img(src="./images/social/instagram-icon.svg", alt="")
                    include ./../elements/insta.pug
            div(class="navbar--mobile", id="navbar-burger-js") 
                .burger
