## Packages
#-------------------------
node_modules

## Compilations
#-------------------------
dist

## Trash
#-------------------------
desktop.ini
.DS_Store
.DS_Store?
.Trashes

# IDE Files
#-------------------------
/nbproject
/.idea

## Sublime Text cache files
#-------------------------
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project