include ../global/_mixins
doctype html
html(lang="ru")
	head
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible' content='ie=edge')
		title
			block title
		meta(name='description' content='')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(rel='stylesheet' href='./css/main.css')
	body
		.page-wrapper
			block variables
				include ../global/_variables

			block header
				include ../global/header

			block main

			block footer
				include ../global/footer

			block modal

		script(src='./js/main.js')
