main(class="main")
    .container 
        .main__top 
            h2(class="heading heading-3 main__title") ПРЕИМУЩЕСТВА G-SYNC
            p(class="body body-1 main__text")
                | Каждый монитор с технологией G-SYNC проходит серьезное тестирование и контроль качества для обеспечения максимальной производительности. Сотни мониторов проходят контроль качества, но только прошедшие все тесты получают сертификацию G-SYNC.
        .benefits
            include ./benefits.pug