%title {
	font-family: $play;
	font-weight: 700;
	color: #0F1317;
}

.heading {
	@extend %title;

	&-1 {
		font-size: 42px;
		line-height: 66px;
	}

	&-2 {
		font-size: 33px;
		line-height: 53px;
	}

	&-3 {
		font-size: 26px;
		line-height: 36px;
		letter-spacing: 0.25px;
	}
}

.subtitle-1 {
	@extend %title;
	font-size: 20px;
	line-height: 34px;
	letter-spacing: 0.25px;
}