.section-header {
  background: #000000;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  @media (min-width: 1140px) {
    position: static;
    left: 0;
    width: 100%;
    transform: translateX(0);
  }
}
.header__content {
  @media (min-width: 1140px) {
    padding-top: 31px;
    padding-bottom: 1px;
  }
  background: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .content__wrapper {
    display: flex;
    align-items: center;
    & > * + * {
      margin-left: 15px;
    }
  }

  .logo {
    display: block;
    width: 45px;
    @media (min-width: 1140px) {
      width: 81px;
    }
  }
}
.header__social {
  display: none;
  & > * + * {
    margin-left: 12px;
  }
  @media (min-width: 1140px) {
    display: flex;
  }
}
